set timeout=10
set default=0

set color_normal=white/black
set color_highlight=black/cyan
set menu_color_normal=white/black
set menu_color_highlight=black/cyan

menuentry "  EunOS 1.0.0  ->  Normal Boot" --class eunos {
    linux  /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage,virtio,virtio_net,e1000,iwlwifi,iwlmvm,ath9k,ath10k_pci,rtl8192ce,rtl8188ee quiet hostname=eunos
    initrd /boot/initramfs-lts
}

menuentry "  Recovery Mode  ->  System Recovery and Troubleshoot" --class recovery {
    linux  /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage,virtio,virtio_net,e1000,iwlwifi,iwlmvm,ath9k,ath10k_pci quiet hostname=eunos eunos.recovery=1
    initrd /boot/initramfs-lts
}

menuentry "  Safe Mode  ->  Debug Output" --class safe {
    linux  /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage,virtio,virtio_net,e1000,iwlwifi,iwlmvm,ath9k hostname=eunos
    initrd /boot/initramfs-lts
}

menuentry "  Shutdown" --class shutdown {
    halt
}
